body {
    font-family: "Times New Roman", serif;
    margin: 0;
    background-color: #f8f8f8;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 20px;
    font-size: 28px;
    font-weight: bold;
}

nav {
    text-align: center;
    padding: 10px;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #0A5;
    font-weight: bold;
}

nav a:hover {
    color: blue;
}

.section-title {
    background-color: #dcd6f7;
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    flex-wrap: wrap;
}

.left {
    width: 60%;
}

.right {
    width: 35%;
    text-align: center;
}

.right img {
    width: 220px;
    border-radius: 5px;
}

.cv-links a {
    text-decoration: none;
    font-weight: bold;
    color: blue;
}

.content {
    padding: 30px;
}
